body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px Auto;
    width: 80%;
}

nav {
    font-size: 1em;
}
footer {
    border-top: 1px dashed #d5d5d5;
    font-size: .8em;
    margin-top: 40px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px 5px;
    list-style: none;
    font-weight: bold;
    margin: 0px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

ul.namelist {
    line-height: 1.3em;
}

nav a, footer a {
    text-decoration: none;
    color: #999;
}

a {
    text-decoration: none;
    color: #05a;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 100, 100);
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1.2em;
    line-height: 1.1em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}